In [18]:
import pandas as pd
df = pd.DataFrame({
        'x': [12, 20, 28, 18, 10, 29, 33, 24, 45, 45, 52, 51, 52, 55, 53, 55, 61, 64, 69, 72, 23],
        'y': [39, 36, 30, 52, 54, 20, 46, 55, 59, 63, 70, 66, 63, 58, 23, 14, 8, 19, 7, 24, 77]
    })
df

     x   y
0   12  39
1   20  36
2   28  30
3   18  52
4   10  54
5   29  20
6   33  46
7   24  55
8   45  59
9   45  63
10  52  70
11  51  66
12  52  63
13  55  58
14  53  23
15  55  14
16  61   8
17  64  19
18  69   7
19  72  24
20  23  77

In [13]:
a=range(10)

In [14]:
a

range(0, 10)

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4